
body {
    background-image: url('./assets/app.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px;
    margin: 10px;
}
.container-sm{
    background-color:rgb(242, 242, 242);
    padding: 30px;
    border-radius: 12px;
    max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgb(230, 230, 230);
}
.form-select{
    border: 0px !important;
    background-color: var(--bs-tertiary-bg);
    width: 100%;
}
